.navbar {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 3em;
  font-family: 'Poppins';
}

.top-navbar {
  height: 60px;
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3em;
}

.top-navbar .logo img {
  height: 30px;
}

.top-navbar .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

.top-navbar .buttons div {
  padding: .6em;
  width: 120px;
  border-radius: 60px;
  text-align: center;
  background-color: #F09E9E;
}

.top-navbar .buttons div a {
  text-decoration: none;
}

.top-navbar .buttons .portfolio {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.top-navbar .buttons .portfolio:hover {
  background-color: #e88080;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.top-navbar .buttons .portfolio a {
  color: white;
}

.top-navbar .buttons .services {
  background-color: white;
  border: 1px solid #F09E9E;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.top-navbar .buttons .services a {
  color: #F09E9E;
}

.top-navbar .buttons .services:hover {
  background-color: #F09E9E;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.top-navbar .buttons .services:hover a {
  color: white;
}

/* END OF TOP NAVBAR */
.bottom-navbar {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .6em 3em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.bottom-navbar div {
  height: inherit;
}

.bottom-navbar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bottom-navbar .links li {
  list-style: none;
}

.bottom-navbar .links li a {
  text-decoration: none;
  color: #414141;
}

.bottom-navbar .links li a:hover {
  border-bottom: 1px solid black;
}

.bottom-navbar .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

.bottom-navbar .social-links img {
  height: 30px;
}

.bottom-navbar .discord a {
  text-decoration: none;
  color: #F09E9E;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.bottom-navbar .discord a:hover {
  color: gray;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

/* END OF BOTTOM NAVBAR */
.content {
  height: auto;
  margin: 1em 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: .5em;
}

.content .image-content {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow: hidden;
  height: 520px;
  background-color: black;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.content .image-content img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  height: inherit;
}

.content .image-content img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  opacity: .5;
}

.border {
  height: 1px;
  background-color: gray;
  margin: 1em 3em 2em 3em;
}

.content .info-text {
  height: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Poppins';
  padding: 0 1em;
}

.content .info-text .header {
  font-size: 25px;
  font-weight: 500;
}

.content .info-text .paragraph {
  font-size: 14px;
}

.content .info-text a {
  text-decoration: none;
  color: #F09E9E;
}

html {
  scroll-behavior: smooth;
}

.gallery-content {
  height: 400px;
  background-color: gray;
  margin: 1em 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header1 {
  font-family: 'Poppins';
  text-align: center;
}

.header1 p {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 40px;
}
/*# sourceMappingURL=index.css.map */